
header , body {
    background: url(../images/wood2.jpg);
}

header {
    padding: 20px 0;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    -webkit-text-stroke: 3px #000000;

}

.cabezera {
    position: relative;
	width: 940px;
	margin: 0 auto 0 auto;
    display: block;
}

#cuerda {
    width: 17%;
    position: relative;
    left: 15%;
    top: 50px;
    border-radius: 10px;
}

h1 {
    position: absolute;
    top: 50px;
    left: 35%;
    color: rgb(229, 237, 240);
    text-align: center;
    font-size: 8rem;
}

.navegacion{
    display: block;
    font-family: 'Press Start 2P', cursive;
	width: 940px;
	margin: 80px auto 0 auto;
    height: 200px;
    position: relative;

}

nav li {
    display: inline-block;
    margin: 0 400px 0 50px;

}


.opciones {
    position: absolute;
    top: 100px;
    margin: 0 auto 0 auto;
	text-transform: uppercase; 
	color: #BBBBBB;
	font-weight: bold;
	font-size: 1rem; 
	text-decoration: none; 
    background: #000000;
    padding: 20px 20px;
    border-radius: 50px;
    transition: 1s all;

}

.opciones:hover{
    transform: scale(1.5);
}

footer {
    text-align: center;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 80px;
    background: url(../images/rr.jpg);
}

footer p {
    font-family: 'Amatic SC', cursive;
    color: #BBBBBB;
    font-size: 1.5rem;
}
@media screen and (max-width: 480px){ /*para hacer que nuestro programa sea responsivo en otros aparatos*/


	header, .cabezera, main{
		width: auto;
	}

    h1 {
        font-size: 15rem;
        left: 28%;
        top: 100%;
        display: inline;
    }

    #cuerda{
        position: absolute;
        display: inline;
        left: 30%;
        width: 180px;
        top: 9%;
    }

    .navegacion {
        display: block;
        margin-top: 40px;
        top: 900px;
        left: 0px;
    }

    .opciones{
        padding: 70px 70px;
    }



}